.employee-form-container {
  width: 98%;
  margin: 90px auto 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.employee-form-title {
  text-align: center;
  margin-bottom: 20px;
}

.employee-form-note {
  text-align: center;
  font-weight: bold;
  color: red;
}
.nxtButton {
  width: 60px;
}
.nxtOne {
  width: 60vw;
}

.employee-form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.employee-form-col {
  flex: 1 1 100%;
  margin-bottom: 10px;
}

.employee-form-col label {
  display: block;
  margin-bottom: 5px;
}

.employee-form-col input[type="text"],
.employee-form-col input[type="password"],
.employee-form-col input[type="email"],
.employee-form-col input[type="file"],
.employee-form-col input[type="date"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.employee-form-row .employee-form-col button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.employee-form-row .employee-form-col button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
}
